# presets
armor-hider-presets.json

# gradle

.kotlin/
.gradle/
build/
staging/
out/
classes/
logs/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# dev profile (contains personal MC username)

dev-profile.properties

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
